In [6]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv('bank.csv')
data

,STAROST,POSAO,BRACNO_STANJE,OBRAZOVANJE,SREDNJE_GOD_STANJE_EUR,STAMBENI_KREDIT,LICNI_KREDIT,KONTAKT,DUZINA_RAZGOVORA_SEC,BROJ_RAZGOVORA,OROCENA_STEDNJA
0,30,nezaposlen,u_braku,osnevne,1787,ne,ne,mobilni,79,1,ne
1,33,usluge,u_braku,srednje,4789,da,da,mobilni,220,1,ne
2,35,rukovodstvo,samac,visoko,1350,da,ne,mobilni,185,1,ne
3,30,rukovodstvo,u_braku,visoko,1476,da,da,nepoznato,199,4,ne
4,59,manuelni_poslovi,u_braku,srednje,0,da,ne,nepoznato,226,1,ne
...,...,...,...,...,...,...,...,...,...,...,...
4516,33,usluge,u_braku,srednje,-333,da,ne,mobilni,329,5,ne
4517,57,samozaposlen,u_braku,visoko,-3313,da,da,nepoznato,153,1,ne
4518,57,tehnicar,u_braku,srednje,295,ne,ne,mobilni,151,11,ne
4519,28,manuelni_poslovi,u_braku,srednje,1137,ne,ne,mobilni,129,4,ne
4520,44,preduzetnik,samac,visoko,1136,da,da,mobilni,345,2,ne

In [8]:
data.head()

,STAROST,POSAO,BRACNO_STANJE,OBRAZOVANJE,SREDNJE_GOD_STANJE_EUR,STAMBENI_KREDIT,LICNI_KREDIT,KONTAKT,DUZINA_RAZGOVORA_SEC,BROJ_RAZGOVORA,OROCENA_STEDNJA
0,30,nezaposlen,u_braku,osnevne,1787,ne,ne,mobilni,79,1,ne
1,33,usluge,u_braku,srednje,4789,da,da,mobilni,220,1,ne
2,35,rukovodstvo,samac,visoko,1350,da,ne,mobilni,185,1,ne
3,30,rukovodstvo,u_braku,visoko,1476,da,da,nepoznato,199,4,ne
4,59,manuelni_poslovi,u_braku,srednje,0,da,ne,nepoznato,226,1,ne

In [9]:
data.describe()

,STAROST,SREDNJE_GOD_STANJE_EUR,DUZINA_RAZGOVORA_SEC,BROJ_RAZGOVORA
count,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,263.961292,2.793630
std,10.576211,3009.638142,259.856633,3.109807
min,19.000000,-3313.000000,4.000000,1.000000
25%,33.000000,69.000000,104.000000,1.000000
50%,39.000000,444.000000,185.000000,2.000000
75%,49.000000,1480.000000,329.000000,3.000000
max,87.000000,71188.000000,3025.000000,50.000000

In [10]:
data.loc[data['SREDNJE_GOD_STANJE_EUR'] < 0, 'SREDNJE_GOD_STANJE_EUR'] = np.nan
# data
data.dropna(inplace = True)
# data

In [11]:
data.describe()

,STAROST,SREDNJE_GOD_STANJE_EUR,DUZINA_RAZGOVORA_SEC,BROJ_RAZGOVORA
count,4155.000000,4155.000000,4155.000000,4155.000000
mean,41.297232,1577.000963,263.861372,2.802888
std,10.694177,3090.416228,260.473877,3.114009
min,19.000000,0.000000,4.000000,1.000000
25%,33.000000,141.500000,104.000000,1.000000
50%,39.000000,542.000000,186.000000,2.000000
75%,49.000000,1637.000000,328.000000,3.000000
max,87.000000,71188.000000,3025.000000,50.000000

In [12]:
data

,STAROST,POSAO,BRACNO_STANJE,OBRAZOVANJE,SREDNJE_GOD_STANJE_EUR,STAMBENI_KREDIT,LICNI_KREDIT,KONTAKT,DUZINA_RAZGOVORA_SEC,BROJ_RAZGOVORA,OROCENA_STEDNJA
0,30,nezaposlen,u_braku,osnevne,1787.0,ne,ne,mobilni,79,1,ne
1,33,usluge,u_braku,srednje,4789.0,da,da,mobilni,220,1,ne
2,35,rukovodstvo,samac,visoko,1350.0,da,ne,mobilni,185,1,ne
3,30,rukovodstvo,u_braku,visoko,1476.0,da,da,nepoznato,199,4,ne
4,59,manuelni_poslovi,u_braku,srednje,0.0,da,ne,nepoznato,226,1,ne
...,...,...,...,...,...,...,...,...,...,...,...
4514,38,manuelni_poslovi,u_braku,srednje,1205.0,da,ne,mobilni,45,4,ne
4515,32,usluge,samac,srednje,473.0,da,ne,mobilni,624,5,ne
4518,57,tehnicar,u_braku,srednje,295.0,ne,ne,mobilni,151,11,ne
4519,28,manuelni_poslovi,u_braku,srednje,1137.0,ne,ne,mobilni,129,4,ne
4520,44,preduzetnik,samac,visoko,1136.0,da,da,mobilni,345,2,ne

In [13]:
data['STAROST'] = pd.cut(data['STAROST'], bins = 5, labels = [1, 2, 3, 4, 5])

In [14]:
data

,STAROST,POSAO,BRACNO_STANJE,OBRAZOVANJE,SREDNJE_GOD_STANJE_EUR,STAMBENI_KREDIT,LICNI_KREDIT,KONTAKT,DUZINA_RAZGOVORA_SEC,BROJ_RAZGOVORA,OROCENA_STEDNJA
0,1,nezaposlen,u_braku,osnevne,1787.0,ne,ne,mobilni,79,1,ne
1,2,usluge,u_braku,srednje,4789.0,da,da,mobilni,220,1,ne
2,2,rukovodstvo,samac,visoko,1350.0,da,ne,mobilni,185,1,ne
3,1,rukovodstvo,u_braku,visoko,1476.0,da,da,nepoznato,199,4,ne
4,3,manuelni_poslovi,u_braku,srednje,0.0,da,ne,nepoznato,226,1,ne
...,...,...,...,...,...,...,...,...,...,...,...
4514,2,manuelni_poslovi,u_braku,srednje,1205.0,da,ne,mobilni,45,4,ne
4515,1,usluge,samac,srednje,473.0,da,ne,mobilni,624,5,ne
4518,3,tehnicar,u_braku,srednje,295.0,ne,ne,mobilni,151,11,ne
4519,1,manuelni_poslovi,u_braku,srednje,1137.0,ne,ne,mobilni,129,4,ne
4520,2,preduzetnik,samac,visoko,1136.0,da,da,mobilni,345,2,ne

In [15]:
unique_values = data['BRACNO_STANJE'].unique()
unique_values

array(['u_braku', 'samac', 'razveden(a)'], dtype=object)

In [16]:
data.loc[data['BRACNO_STANJE'] == 'samac', 'BRACNO_STANJE'] = 'nije_u_braku'
data.loc[data['BRACNO_STANJE'] == 'razveden(a)', 'BRACNO_STANJE'] = 'nije_u_braku'

In [27]:
# standardizacija
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

num_atr = (data.dtypes[data.dtypes == 'float64'].index).append(data.dtypes[data.dtypes == 'int64'].index)
data[num_atr] = scaler.fit_transform(data[num_atr])

In [28]:
data.describe()

       SREDNJE_GOD_STANJE_EUR  DUZINA_RAZGOVORA_SEC  BROJ_RAZGOVORA
count            4.155000e+03          4.155000e+03    4.155000e+03
mean             1.453577e-17          6.840363e-18   -2.052109e-17
std              1.000120e+00          1.000120e+00    1.000120e+00
min             -5.103490e-01         -9.977686e-01   -5.790301e-01
25%             -4.645568e-01         -6.138067e-01   -5.790301e-01
50%             -3.349470e-01         -2.989580e-01   -2.578620e-01
75%              1.941689e-02          2.462679e-01    6.330605e-02
max              2.252751e+01          1.060172e+01    1.515820e+01